#final-page {
    background: linear-gradient(to right bottom, rgb(71,71,71) 50%, rgb(54, 54, 54) 50%);
    background: linear-gradient(to right bottom, rgb(54,54,54) 50%, rgb(71, 71, 71) 50%);
    color: white;
}

#final-top-pane {
    margin-bottom: 55px;
}

#roll {
    z-index: 1;
    /* background-color: rgba(151, 151, 151, 0); */
    height: 50px;
}

#diagonal-background, #d20 {
    cursor: pointer;
}

#diagonal-background {
    z-index: -1;
    position: absolute;
    /* background-color: red; */
    border-style: solid;
    width: 0px;
    height: 0px;
    border-width: 45px 0 45px 50px;
    border-color: rgb(182, 182, 182) transparent transparent rgb(182, 182, 182);
    /* box-shadow: black; */
}

#roll:hover {
    cursor: pointer;
}

#diagonal-background.hovering-roll-border {
    border-color: rgb(219, 83, 20) transparent transparent rgb(219, 83, 20);
}

#diagonal-background.click-roll {
    border-color: rgb(172, 64, 15) transparent transparent rgb(172, 64, 15);
}

#d20 {
    /* z-index: 1; */
    padding: 10px 4px 0px 6px;
    height: 50px;
    width: 50px;
    /* background-color: rgba(182, 182, 182, 0); */
    border-radius: 0 0 3px 0;
    margin-top: -5px;
    /* margin-bottom: 15px; */
}

#line-1 {
    height: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 50px auto;

    /* vertical-align: middle; */
}

#line-1 > * {
    vertical-align: middle;
}

#search {
    margin: 10px 10px 0px;
    margin-right: 3%;
    height: 35px;
    /* width: 100%; */
    display: inline-grid;
    grid-template-columns: auto 50px;
}

#search > * {
    /* display: inline; */
}

#search input {
    background-color: rgb(177, 177, 177);
    height: 35px;
    font-size: 1.4em;
    text-align: right;
    padding: 6px 6px 2px;
    /* width: 239px; */
    justify-self: end;
    /* margin-right: 4px; */
    border: solid 1px gray;
    font-weight: bold;
    width: 100%;
    max-width: 245px;
    /* background-image: url('../../ImageStore/magnifyingglass.jpg'); */
    /* background-image: url('../../ImageStore/magnifyingglass.png'); */
    /* position: left; */
    /* background-size: 40px; */
    /* background-repeat: no-repeat; */
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

#reset-filters {
    /* margin-left: 10px; */
    line-height: 35px;
    vertical-align: middle;
    text-align: center;
    text-decoration: underline;
    /* border-top: solid 1px black; */
    /* border-right: solid 1px black; */
}

#reset-filters:hover {
    color: rgba(0, 0, 0, 0.562);
    cursor: pointer;
}

#reset-filters:active {
    color: rgba(0, 0, 0, 0.295);
}

#filters {
    z-index: 2;
    /* margin-top: 10px; */
    /* margin-right: 10px; */
    display: inline-grid;
    grid-template-columns: 36px auto auto auto;
    /* margin-left: 60px; */
    /* width: 300px; */
    /* justify-self: end; */
    /* width: 80%; */
    /* height:  */
    /* vertical-align: middle; */
    position: absolute;
    justify-content: end;
    right: 3%;
    height: 35px;
}

#filters > * {
    margin: 3px;
    padding: 0px 2px;
    font-size: 15px;
    /* text-align: center; */
}

#filters > * {
    cursor: pointer;
}

#filters button {
    height: 30px;
    background-color: white;
    outline: none;
    /* border: solid 1px gray; */
    border: none;
    border-radius: 3px;
    background-color: rgb(100, 100, 100);
    color: white;
}

body #filters .selected {
    background-color: rgb(179, 2, 2);
}

body #filters > .selected:hover {
    background-color: rgba(179, 2, 2, 0.87);
}

/* body #filters > button:hover {
    background-color: rgba(199, 199, 199, 0.767);
} */

body #filters > .selected:active {
    background-color: rgb(160, 1, 1);
}

body #filters > button:active {
    background-color: rgb(75, 75, 75);
}

#filters #type-filter {
    width: 70px;
    text-align: center;
    background-color: rgb(100, 100, 100);
}

#filters #type-filter:hover {
    background-color: rgb(136, 136, 136)
}

#filters #active-filter {
    width: 63px;
    background-color: rgb(92, 92, 92);
}

#filters #active-filter:hover {
    background-color: rgb(121, 121, 121);
}

#filters #rolesource-filter {
    width: 110px;
    background-color: rgb(83, 83, 83);
}

#filters #rolesource-filter:hover {
    background-color: rgb(124, 124, 124);
}

#filter-star {
    filter: contrast(120%)
}

#filter-star-gray {
    filter: contrast(85%)
}

#filters > .top-star {
    height: 24px;
    width: 30px;
    margin: 0 auto;
    margin-top: 5px;
}

#filters > .top-star:hover {
    filter: contrast(150%)
}

#filters > .top-star:active {
    filter: contrast(70%)
}

#skills-header {
    margin-left: 3%;
    margin-bottom: -5px;
}

#skills-header > * {
    display: inline-block;
}

#manage-skill-choices {
    /* border: solid 1px black; */
    /* border-right: solid 1px black; */
    /* border-left: solid 1px black; */
    /* width: 169px; */
    color: white;
    padding-left: 5px;
    text-decoration: underline;
    /* position: absolute; */
    /* right: 5px; */
}

.filter-alive {
    background-color: orange !important;
}

#manage-skill-choices {
    /* cursor: pointer; */
}

#empty-skills-body {
    margin: 60px 30px 150px;
    padding: 20px;
    border: solid 1px black;
    text-align: center;
}

.element-list {
    color: rgb(26, 102, 52);
    font-weight: bold;
    /* font-style: italic; */
}

@media all and (min-width: 400px) { 
    #final-top-pane {
        margin-bottom: 40px;
    }
}

@media all and (min-width: 510px) { 

    #final-top-pane {
        margin-bottom: 50px;
    }
    
    #search {
        margin-top: 12px;
    }
    
    #filters {
        margin-top: 5px;
    }

    #filters button {
        height: 30px;
    }

    #search input {
        max-width: 343px;
    }

    #filters > button {
        /* width:600px; */
        margin-left: 7px;
        width: 110px !important;
    }
}

@media all and (min-width: 600px) { 

    #final-top-pane {
        margin-bottom: 30px;
    }

    #search input {
        max-width: 343px;
    }

    #filters > button {
        /* width:600px; */
        margin-left: 7px;
        width: 110px !important;
    }
}
