#final-top-pane {
    margin-bottom: 55px;
}

#roll {
    z-index: 1;
    background-color: rgba(151, 151, 151, 0);
    height: 50px;
}

#diagonal-background, #d20 {
    cursor: pointer;
}

#diagonal-background {
    z-index: -1;
    position: absolute;
    /* background-color: red; */
    border-style: solid;
    width: 0px;
    height: 0px;
    border-width: 45px 0 45px 50px;
    border-color: rgb(182, 182, 182) transparent transparent rgb(182, 182, 182);
    /* box-shadow: black; */
}

#d20 {
    /* z-index: 1; */
    padding: 10px 5px 0px 3px;
    height: 55px;
    width: 53px;
    /* background-color: rgba(182, 182, 182, 0); */
    border-radius: 0 0 3px 0;
    margin-top: -5px;
}

#line-1 {
    height: 50px;
    display: grid;
    grid-template-columns: 48px auto;

    /* vertical-align: middle; */
}

#line-1 > * {
    vertical-align: middle;
}

#search {
    margin: 10px;
    height: 35px;
    display: inline-grid;
    grid-template-columns: auto 47px;
}

#search > * {
    /* display: inline; */
}

#search input {
    height: 35px;
    font-size: 1.4em;
    text-align: right;
    padding: 6px 6px 2px;
    width: 239px;
    justify-self: end;
    margin-right: 4px;
    border: solid 1px gray;
    font-weight: bold;
    /* background-image: url('../../ImageStore/magnifyingglass.jpg'); */
    /* background-image: url('../../ImageStore/magnifyingglass.png'); */
    /* position: left; */
    /* background-size: 40px; */
    /* background-repeat: no-repeat; */
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

#reset-filters {
    /* margin-left: 10px; */
    line-height: 35px;
    vertical-align: middle;
    text-align: center;
    text-decoration: underline;
    /* border-top: solid 1px black; */
    /* border-right: solid 1px black; */
}

#reset-filters:hover {
    color: rgba(0, 0, 0, 0.562);
    cursor: pointer;
}

#reset-filters:active {
    color: rgba(0, 0, 0, 0.295);
}

#filters {
    z-index: 2;
    /* margin-top: 10px; */
    /* margin-right: 10px; */
    display: inline-grid;
    grid-template-columns: 40px auto auto auto;
    /* margin-left: 60px; */
    /* width: 300px; */
    /* justify-self: end; */
    /* width: 80%; */
    /* height:  */
    /* vertical-align: middle; */
    position: absolute;
    justify-content: end;
    right: 10px;
    height: 35px;
}

#filters > * {
    margin: 3px;
    padding: 0px 2px;
    font-size: 15px;
    /* text-align: center; */
}

#filters > * {
    cursor: pointer;
}

#filters button {
    height: 30px;
    background-color: white;
    outline: none;
    /* border: solid 1px gray; */
    border: none;
    border-radius: 3px;
    background-color: rgb(100, 100, 100);
    color: white;
}

body #filters .selected {
    background-color: rgb(179, 2, 2);
}

body #filters > .selected:hover {
    background-color: rgba(179, 2, 2, 0.87);
}

body #filters > button:hover {
    background-color: rgba(100, 100, 100, 0.767);
}

body #filters > .selected:active {
    background-color: rgb(160, 1, 1);
}

body #filters > button:active {
    background-color: rgb(75, 75, 75);
}

#filters #type-filter {
    width: 70px;
    text-align: center;
}

#filters #active-filter {
    width: 60px;
}

#filters #rolesource-filter {
    width: 110px;
    /* margin-right: 0px; */
}

#filter-star {
    filter: contrast(120%)
}

#filters > .top-star {
    height: 24px;
    width: 30px;
    margin: 0 auto;
    margin-top: 5px;
}

#filters > .top-star:hover {
    filter: contrast(150%)
}

#filters > .top-star:active {
    filter: contrast(70%)
}
