
#character-pane {
    background-color: gray;
    padding: 6px;
    display: grid;
    grid-template-columns: 60px auto auto 25px;
    z-index: -1;
}

#character-pane > * {
    text-align: center;
    vertical-align: middle;
}

#source-role > * {
    line-height: 30px;
}

#name {
    line-height: 60px;
    font-size: 1.6em;
}

#level-box {
    padding: 6px;
    width: 60px;
    height: 60px;
    background-color: rgb(228, 228, 228);
    border-radius: 6px;
    border: solid 2px black;
}

#level-box:hover,#level-box *:hover {
    cursor: pointer;
    background-color: white;
}

#level-box:active,#level-box *:active {
    /* color: white; */
    background-color: rgb(163, 163, 163);
} 

#level-box > * {
    padding: 1px;
}