/* main {
    max-width: 800px;
    margin: 0 auto;
} */


.item {
    margin: 6px;
}

.none {
    display: none !important;
}

.skillbox {
    border: solid 2px rgb(99, 99, 99);
    border-radius: 4px;
    margin: 3%;
}

.filters .all-selected {
    background-color: white;
    color: black;
}

.flex {
    display: block;
    justify-content: space-between;
}

.traitbox-adj {
    width: 47%;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.traitbox-nonadj {
    margin: 3%;
}

.skill-top {
    padding: 10px 15px 10px 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open-box {
    padding-bottom: 4px;
}

.open-box:hover {
    border: solid 2px rgb(99, 99, 99) !important;
}

.gray {
    background-color: rgb(99, 99, 99);
    color: white;
    border-bottom: solid 2px rgb(27, 27, 27);
}

.gray:hover, .whited:hover,
.gray:active, .whited:active {
    margin-bottom: 0px;
    border-radius: 2px 2px 0px 0px;
}

.gray:active, .whited:active {
    /* background-color: black !important; */
    color:white;
}

.gray:hover {
    background-color: rgb(56, 56, 56);
}



.gray:hover,.whited:hover,.gray:active,.whited:active, 
.gray *:hover,.whited *:hover,.gray *:active,.whited *:active {
    cursor:pointer;
}

.skillbox:hover {
    border: solid 2px black;
}

.traits-row {
    padding: 0px 1.5% 0px;
    display: inline-flex;
    width: 100%;
}

.selectors {
    margin: 2px 2px 9px 2px;
}

.trait-section {
    margin-top: 20px;
    margin-bottom: 10px; 
}

.section-head {
    text-transform: uppercase;
    margin: 0 10px 0px;
}

.filters {
    margin-top: 8px;
    padding-bottom: 10px;
}

.filters > * {
    display: inline;
    padding: 5px;
    margin: 2px;
    border-radius: 3px;
    color: white;    
}

.move-role-button {
    background-color: rgb(40, 56, 150);
}

.move-source-button {
    background-color: rgb(151, 117, 52);
}

.move-all-button {
    background-color: rgb(66, 66, 66);
}

.red {
    color: red;
}

.item-name {
    font-weight: bold;
    margin-bottom: 2px;
}