
.item {
    display: none;
}

main {
    padding: 10px 13px;
}

.skillbox {
    padding: 7px 10px 5px;
    border: solid 2px gray;
    border-radius: 4px;
    margin: 1.5%;
}

.Basic-box, .Advanced-box, .Master-box {
    padding: 5px 10px 17px;
}

.intersection-box {
    margin-top: 1%;
}

.plus {
    display: flex;
    justify-content: space-between;
}

.plus-sign {
    margin-right: -5px;
}

#traits-row > * {
    display: inline-block;
    width: 47%;
    margin-left: 1.5%;
    margin-right: 1.5%;
}

.skillbox h2 {
    margin: 5px 4px 4px;
}

.selectors {
    margin: 2px 2px 9px 2px;
}

.section-head {
    text-transform: uppercase;
    margin: 15px 10px 5px;
}

.filters > * {
    display: inline;
    padding: 5px;
    margin: 2px;
    border-radius: 3px;
    color: white;    
}

.trait-top > * {
}

.trait-top {
    display: flex;
    justify-content: space-between;
}

.move-role-button {
    background-color: rgb(40, 56, 150);
}

.move-source-button {
    background-color: rgb(151, 117, 52);
}

.move-all-button {
    background-color: rgb(66, 66, 66);
}

.red {
    color: red;
}

.item-name {
    font-weight: bold;
    margin-top: 10px;
}